# Dependency directories
node_modules/
jspm_packages/
web_stage/

# Build outputs
dist/
build/
.tscbuildinfo

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Local DB Backups & Data volumes
backups/
pgdata/
qdrantdata/

# OS/IDE files
.DS_Store
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
